@use "~@/styles/_variables.scss" as *;

.book-section {
  .section-title {
    padding: 10px 0;
    border-bottom: 1px solid $border-color;
    margin-bottom: 20px;
  }

  .section-content {
    [class$="slider-item"] {
      h3 {
        padding: 10px;
      }
      border: 1px solid $border-color;
    }
  }
}
