@use 'sass:map';

// container and spacing
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1360px,
);

$container-max-widths: (
  sm: 540px,
  md: 680px,
  lg: 860px,
  xl: 1000px,
  xxl: 1100px,
);

$xs: map.get($grid-breakpoints, 'xs');
$sm: map.get($grid-breakpoints, 'sm');
$md: map.get($grid-breakpoints, 'md');
$lg: map.get($grid-breakpoints, 'lg');
$xl: map.get($grid-breakpoints, 'xl');
$xxl: map.get($grid-breakpoints, 'xxl');

// colors
$primary-color: black;
$link-color: #04b2f7;
$border-color: #dedede;
