@use "~@/styles/mixins" as *;
@use "~@/styles/variables" as *;

.category-popup {
  position: absolute;
  top: 52px;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #141329;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease 0s;

  .category-menu {
    max-height: calc(-52px + 100vh);
    padding: 20px 0 54px;
    overflow: auto;

    > div {
      max-width: 865px;
    }

    @include media-screen-down($md) {
      padding: 20px 0 134px;
    }

    .normal-category {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      overflow: visible;
      list-style: none;

      li {
        display: block;
        width: calc(100% / 4);
        margin-right: 0;
        padding-bottom: 20px;
        line-height: 26px;
        float: none;
        position: relative;
        font-weight: bold;

        a {
          font-size: 16px;
          color: #ddd;
        }
      }

      @include media-screen-down($md) {
        width: 100%;

        li {
          width: calc(100% / 2);
          padding: 10px;
          margin-bottom: 10px;
          text-align: center;
          min-height: unset;

          &::before {
            display: none;
          }
        }
      }
    }
  }

  &.active {
    visibility: visible;
    opacity: 1;
    overflow-y: auto;
  }

  .channels-menu {
    width: 100%;
    background: #333240;
    padding: 17px 10px;
    font-size: 13px;

    @include media-screen-down($md) {
      position: absolute;
      bottom: 0;
      padding-bottom: 0;
    }

    nav {
      ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include media-screen-down($md) {
          flex-wrap: wrap;

          li {
            width: calc(100% / 2);
            padding: 10px;
            margin-bottom: 10px;
            text-align: center;
          }
        }
      }
    }
  }
}
