@use '~@/styles/_variables.scss' as *;

.article-list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  li {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $border-color;

    &:last-child {
      border-bottom: none;
    }
  }
}
