@use "~@/styles/_variables.scss" as *;
@use "~@/styles/_mixins.scss" as *;

.trending-tag {
  position: relative;

  @include media-screen-down($lg) {
    display: none;
  }

  .tag-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    margin-left: 26px;
    padding: 10px;

    &::before {
      content: "";
      background: url(/stat.svg) no-repeat;
      background-size: contain;
      width: 24px;
      height: 24px;
      position: absolute;
      left: 0;
      top: 7px;
    }

    li {
      font-size: 13px;
      color: #000;
      border-radius: 100px;
      background-color: #f0f0f0;
      padding: 0 8px 0 12px;
      height: 24px;
      line-height: 24px;
      margin-left: 10px;

      &:hover {
        background: -webkit-linear-gradient(
          135deg,
          #ee7752,
          #e73c7e,
          #23a6d5,
          #23d5ab
        );
        background: -moz-linear-gradient(
          135deg,
          #ee7752,
          #e73c7e,
          #23a6d5,
          #23d5ab
        );
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: bggradient 15s ease infinite;
        color: #fff;

        &::before {
          color: #fff;
        }
      }

      @keyframes bggradient {
        0% {
          background-position: 0% 50%;
        }

        50% {
          background-position: 100% 50%;
        }

        100% {
          background-position: 0% 50%;
        }
      }

      &::before {
        content: "#";
        display: inline-block;
        color: rgba(106, 106, 106, 0.51);
        font-size: 15px;
        margin-right: 4px;
      }
    }
  }
}
